<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">
      <h3>angularRouting</h3>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="selectedMapStyle">
          <option selected hidden disabled value="">Select Style</option>
          <option *ngFor="let map of mapStyle" [ngValue]="map.style">{{ map.title }}</option>
<!--          or use mapStyle2 and following options-->
<!--          <option [ngValue]="mapStyle.AssassinsCreed">Assassins Creed</option>-->
<!--          <option [ngValue]="mapStyle.LostInTheDesert">LostInTheDesert</option>-->
<!--          <option [ngValue]="mapStyle.Grayscale">Grayscale</option>-->
<!--          <option [ngValue]="mapStyle.UltraLight">UltraLight</option>-->
        </select>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <h3>Where we are</h3>
      <agm-map
      [latitude]="center.lat"
      [longitude]="center.lng"
      [zoom]="mapZoom"
      [mapTypeId]="'roadmap'"
      [styles]="selectedMapStyle"
      >
        <agm-marker *ngFor="let marker of markers"
          [latitude]="marker.coordinates.lat"
          [longitude]="marker.coordinates.lng"
        >
          <agm-info-window
          >{{marker.title}}</agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>
