<div class="container">
  <div class="row">
    <div class="col-9">
      <h2 class="text-center">Best offers</h2>
    </div>
    <div class="col-3">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle (click)="showCart()">View Cart</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <li ngbDropdownItem *ngFor="let p of AddedToCart">{{ p.prod.name }} - quantity: {{ p.quantity }}</li>
        </div>
      </div>
    </div>
    <div class="card col-3" *ngFor="let p of products">
      <a [routerLink]="'/product/'+p._id">
        <img [src]="p.photo" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">{{ p.name }}</h5>
        <p class="card-text"></p>
        <div [class.deleted]="p.sale">{{ p.price }}&euro;</div>
        <div *ngIf="p.sale">{{ p.sale }}&euro;</div>
        <button (click)="addToCart(p._id)">add to cart</button>
      </div>
    </div>
  </div>
</div>
