<!--<div class="card col-3">-->
<!--    <img [src]="product.photo" class="card-img-top" alt="...">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">{{ product.name }}</h5>-->

<!--    <div [class.deleted]="product.sale">{{ product.price }}&euro;</div>-->
<!--    <div *ngIf="product.sale">{{ product.sale }}&euro;</div>-->
<!--&lt;!&ndash;    <button (click)="addToCart(p._id)">add to cart</button>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <img [src]="product.photo" class="img-fluid">
    </div>
    <div class="col-6">
      <h3>{{ product.name }}</h3>
      <h3>{{ product.price }}&euro;</h3>
    </div>
  </div>
</div>
